<main>
   <div class="container-fluid">
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="btn btn-primary" href="/logout" role="button">Logout</a>
    <a class="btn btn-primary" href="/main" role="button">Main Page</a>
    <h6>Logged in as a <span class="member-name"></span></h6>
  </div>
</nav>
<style>
  body {
  background-image: url(../images/addRecipePage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: aqua;
}
</style>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form id="cms">
          <div class="form-group">
            <label for="title">Title:</label>
            <input placeholder="Recipe Title" type="text" class="form-control" id="title">
            <br />
            <label for="ingred">Ingredients:</label>
            <textarea placeholder="Ingredients" class="form-control" rows="10" id="ingred"></textarea>
            <label for="descript">Description:</label>
            <textarea placeholder="Description" class="form-control" rows="10" id="descript"></textarea>
            <div class="form-group">
              <label for="category">Select Author:</label>
              <select class="custom-select" id="author">
              </select>
            </div>
            <br />
            <button type="submit" class="btn btn-success submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </main>