<main>
   <div class="container-fluid">
<nav class="navbar navbar-light bg-dark fixed-top">
  <div class="container-fluid">
    <a class="btn btn-primary" href="/logout" role="button">Logout</a>
    <a class="btn btn-primary" href="/main" role="button">Main Page</a>
    <h5>Logged in as a <span class="member-name"></span></h5>
  </div>
</nav>
<style>
  body {
  background-image: url(../images/addRecipePage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
</style>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form id="cms">
          <div class="form-group">
            <label for="title">Title:</label>
            <input placeholder="Recipe Title" type="text" class="form-control" id="title">
            <br />
            <label for="ingredients">Ingredients:</label>
            <textarea placeholder="Ingredients" class="form-control" rows="10" id="ingredients"></textarea>
            <label for="description">Description:</label>
            <textarea placeholder="Description" class="form-control" rows="10" id="description"></textarea>
            <label for="mealType">Recipe Image:</label>
            <input placeholder="Meal Type" class="form-control" id="mealType">
            <br />
            <button type="submit" class="btn btn-success submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </main>