<div class="container-fluid">
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="btn btn-primary" href="/logout" role="button">Logout</a>
    <h6>Logged in as a <span class="member-name"></span></h6>
  </div>
</nav>
<div class="row">
<div class="col-sm-12 mt-3 d-inline-block">
  <button type="button" id="getRandom"class="btn btn-primary mt-2">Get Random Recipes</button>
  <button type="button" class="getAll btn btn-secondary mt-2">Get Your Recipes</button>
  <button type="button" class="getSpecific btn btn-success mt-2">Get Specific Recipe</button>
  <button type="button" class="addYour btn btn-danger mt-2">Add Your Recipe</button>
  <button type="button" class="updateYour btn btn-success mt-2">Update Your Recipe</button>
  <button type="button" class="deleteYour btn btn-danger mt-2">Delete Your Recipe</button>
</div>
</div>
<marquee >Welcome To The App <span class="member-name"></span></span></marquee>
<div class="recipe-container">
  
</div>
</div>
