
<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>


<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>
<div class="container">
{{!-- <nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </div>
</nav> --}}
  {{!-- <nav class="navbar navbar-default bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand " href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav> --}}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="btn btn-primary" href="/logout" role="button">Logout</a>
    <h2>Welcome To The App <span class="member-name"></span></h2>
  </div>
</nav>
<div class="row">
  <div class="col-sm-12 mt-3 d-inline-block">
<button type="button" class="btn btn-primary">Get New Recipes</button>
<button type="button" class="btn btn-secondary">Get your Recipes</button>
<button type="button" class="btn btn-success">Add Your Recipe</button>
<button type="button" class="btn btn-danger">Delete Your Recipe</button>
</div>
</div>

  {{!-- <div class="container"> --}}
    {{!-- <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome To The App <span class="member-name"></span></h2>
      </div>
    </div> --}}
  {{!-- </div> --}}
  </div>
