{{!-- <style> div{
   
    color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
}</style> --}}
<div class="container mainCont justify-content-center align-items-center ">
  <div class="row"> 
<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h1 class="bg-primary text-white">Welcome to Recipe App</h1>

<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>


</div>
</div>