body {
  background-image: url(../images/backimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-md-6{
  position: absolute;
  top: 42%;
  left: 27%;
  margin-top: -50px;
  margin-left: -50px;
  /* width: 100px;
  height: 100px; */
}

p{
  font-size: 1.8rem;
}

