body{
  background-image: url(../images/1462396.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.mainCont{
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
h1{
  text-align: center;
  margin-top: 25%;
}
form{
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  
  
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
